<h2>Cálculo de férias</h2>

<p>A forma de cálculo de férias segue o seguinte critério etc....</p>

<form>
  <div class="form-group">
    <label for="remuneracao">Salário bruto (R$)</label>
    <input type="number" class="input-number" name="remuneracao" placeholder="Insira a sua remuneração bruta aqui, sem descontos">
  </div>
  <div class="form-group">
    <label for="dias">Total de dias das férias</label>
    <input type="number" class="input-number" name="dias" placeholder="Insira a sua remuneração bruta aqui, sem descontos">
  </div>
</form>
